@charset "utf-8";

@media (max-width: 1180px) {
    .logo-container,
    .form-group,
    .button-container,
    .button-container,
    .checkbox-container {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        gap: 10px;            
    }

    .login-btn,
    .create-btn {
        width: 100%; 
    }
}

@media (max-width: 758px) {
    .logo img, 
    .search input { 
        display: none; 
    }
}

@media (max-width: 510px) {
    nav {
        display: none; 
    }
}

@media (max-width: 399px) {

    html {
        min-width: 399px;
    }

    .right-section {
        display: none;    
    }

    #username,
    #password,
    .login-btn,
    .create-btn {
        width: 290px;
        max-width: calc(100% - 40px); 
    }

    .text-gradient {
        padding-left: 20px;
    }

    /* .form-group {
        input[type='text'],
        input[type='password'] {
            background: none;
        }
    } */
}
