@charset "utf-8";

/*--------------------------------------*/
/*              Basic rules             */
/*--------------------------------------*/

:root {
    --app-white: #fff;
    --app-blue-1: #00549A;
    --app-blue-2: #0483eb;
    --app-blue-3: #003778;
    --app-gray-1: #f9f9f9;
    --app-gray-2: rgb(0 0 0 / 10%);
    --app-gray-3: #808080;  
    --app-gray-4: #2f2e2e;  
    --app-red: #ff0000;
}

.container {
    width: min(100% - 32px, 1200px);
    margin-inline: auto;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    background-color: var(--app-gray-1);
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--app-white);
    overflow-x: hidden;
}

main {
    flex: 1;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

a {
    text-decoration: none;
}

/*--------------------------------------*/
/*                Header                */
/*--------------------------------------*/

header {
    background-color: var(--app-white);
    height: 70px;
    color: var(--app-gray-4);
    font-size: 16px;
    font-weight: 400;

    .logo-search {
        gap: 10px;

        input[type=text] {
            width: 200px;
            height: 40px;
            padding: 0 15px 0 40px;
            font-size: 16px;
            color: var(--app-gray-3);
            background: rgb(0 0 0 / 5%) url(../img/search.png) no-repeat 15px 11px;
            background-size: 15px;
            border-radius: 4px;
            border: 1px solid rgb(0 0 0 / 5%);
            box-shadow: 1px 1px 2px var(--app-gray-2);
            transition: all 0.25s ease-in-out;
        }

        input[type=text]:hover {
            border: 1px solid rgb(0 0 0 / 20%);
        }
    }

    nav {
        ul {
            list-style: none;
            gap: 30px;

            li {
                line-height: 70px;
                color: var(--app-gray-4);

                a {
                    color: var(--app-gray-4);
                }

                a:hover {
                    color: var(--app-blue-1);
                }
            }
        }
    }
}

p.nav-item {
    i {
        padding-right: 3px;
    }
}

.logo {
    place-items: center;

    img {
        height: 60px;
    }
}

.search {
    place-items: center;
}

.profile {
    place-items: center;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgb(0 0 0 / 20%);
        cursor: pointer;
    }

    img:hover {
        opacity: 0.9;
    }
}

/*--------------------------------------*/
/*             Login page               */
/*--------------------------------------*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 120px);
    color: var(--app-gray-4);
    background-color: var(--app-gray-1);
}

.left-section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    p {
        margin: 10px 0 50px 0;
        font-size: 17px;
        font-weight: 500;
    }
    
    h1 {
        font-size: 35px;
        font-family: "Exo 2", sans-serif;
        color: var(--app-blue-3);
    }
}

.form-group {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--app-blue-3);
    
    input {
        border: 1px solid var(--app-gray-2);
        border-radius: 5px;
        height: 40px;
        font-size: 16px;
        padding-left: 15px;
    }

    input::placeholder{
        font-size: 15px;
    }

    label {
        font-size: 16px;
    }
}

.error-message {
    color: var(--app-red);
    font-size: 15px;
    min-height: 20px; 
    margin-top:5px;
    visibility: hidden;
}

.right-section {
    background: url('../img/login.jpg') no-repeat center center/cover;
    width: 35vw; 
    height: 35vw;
    border-radius: 50%;
    overflow: hidden;
}

.checkbox-container {
    display: flex;
    justify-content:center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    color: var(--app-gray-4);
}

.login-btn {
    background-color: var(--app-blue-1);
    color: var(--app-white);
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.create-btn, .button {
    font-weight: 600;
    background-color: var(--app-white);
    color: var(--app-blue-1);
    padding: 10px 10px;
    border: 2px solid var(--app-blue-1);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn:hover, .button:hover {
    transform: scale(1.05);
}

/*-------------------------------------*/
/*            Post - Centre            */
/*-------------------------------------*/

.center {
    display: grid;
    place-items: center;
}

main section {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;  

	.prepost-up, .prepost-down {
        box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
        background-color: var(--app-white);
        padding: 20px 30px 20px 30px;
    }
    .post, .post-item {
        box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
        background-color: var(--app-white);
        padding: 30px;
    }

    .prepost-up, .prepost-down {
        .col {
            width: 100%;
            height: 40px;
            font-size: 18px;
        }
    }

    .prepost-up {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        input {
            width: 100%;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            margin: 10px 0;
            display: block;
            border-radius: 5px;
            box-sizing: border-box;            
        }
    }

    .prepost-down {
		border-top: 1px solid var(--app-gray-2);													  
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .post, .post-item {
        margin-top: 25px;
        border-radius: 5px;
        width: 100%;

        .post-head {
            .col {
                width: 100%;
                height: 100px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .post-text {
            margin-top: 20px;
            width: 100%;
            
            .message {
                color: var(--app-gray-4);
                font-size: 20px;
            }
        }
        
        .post-image {
            margin-top: 20px;
            width: 100%;        
			background-size: cover;
            background-repeat: no-repeat;   														  
        }      
        
        .post-likes {
            margin-top: 15px;
            width: 100%;

            i {
                font-size: 24px;
            }

            label {
                padding-left: 10px;
                padding-right: 20px;							   
                font-size: 16px;
                color: var(--app-gray-3);
            }
            
            .heart {
                color: #ff0000;
            }

            .comment, .share {
                color: var(--app-gray-3);
            }
        }          
    }
}

.prepost-down {
    flex: wrap;
    width: 100%;
    gap: 15px;

    p.col {
        color: var(--app-gray-3);
        flex: 1;
        line-height: 40px;
		font-size: 14px !important;								   

        i {
            padding-right: 2px;
			font-size: 18px;
            cursor: pointer;
        }
    }
    p.col.prepost-icon-share {
        color: var(--app-blue-2);
        font-size: 22px;
        text-align: right;
    }
}

.prepost-icon, .prepost-icon-share {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--app-gray-3);
}

.prepost-icon {
    justify-content: left;
	cursor: pointer;			
}

.prepost-icon-share {
    color: var(--app-blue-2);
    font-size: 22px;
    justify-content: right;
}

.prepost-name {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--app-gray-4);
}

.post-photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.post-identity, .post-options {
    p {
        color: var(--app-gray-3);
    }
}

.post-identity {
    width: calc(100% - 200px);
    padding-left: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
}

.post-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--app-gray-4) !important;
}

.post-second {
    font-size: 16px !important;
}

.post-options {
    width: 100px;  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
}

.post-ellipsis {
    color: var(--app-gray-3);
    font-size: 24px;
}

.post-btn {
    cursor: pointer;
	font-size: 23px !important;
}

.post-new .post-item {
    display: none;
}

.file-status {
    margin-right: 10px;
    font-size: 10px !important;
}

/*-------------------------------------*/
/*            Profile - left           */
/*-------------------------------------*/

.col-0 {
    flex: wrap;
    gap: 20px;
}

.col-1 {
    flex: 0 0 auto;
    width: calc(25% - 20px);
}

.col-2 {
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

aside {
    margin: 40px 0;
    color: var(--app-gray-4);
}

.user-profile {
    .user-profile-container {
        box-shadow: 1px 1px 2px var(--app-gray-2);
        border-radius: 5px;
        background-color: var(--app-white);
    
        .details {
            padding: 35px 25px 25px;
            width: 100%;
            gap: 10px;
            border-bottom: 1px solid var(--app-gray-2);

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 1px solid var(--app-gray-2);
                margin-bottom: 15px;
            }

            h2 {
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
            }

            h3 {
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                color: var(--app-gray-3);
            }

            p {
                margin-top: 10px;

                a {
                    color: var(--app-gray-4);
                    font-size: 12px;
                }
            }
        }

        .user-stat {
            font-size: 14px;
            border-bottom: 1px solid var(--app-gray-2);

            .col-01 {
                flex: 1;
                padding: 25px;
            }

            .col-01:first-child {
                border-right: 1px solid var(--app-gray-2);
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
            }
        }

        .exclusive {
            padding: 25px 25px 35px;
            font-size: 14px;
            gap: 15px;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }

            button {
                text-transform: uppercase;
            }
        }
        
        .heading {
            padding: 35px 25px 25px;
            border-bottom: 1px solid var(--app-gray-2);

            h3 {
                font-size: 24px;
                font-weight: 500;
                text-align: center;
            }
        }        
    }
}

/*-------------------------------------*/
/*            Profile - left           */
/*-------------------------------------*/

.user {
    padding: 35px 25px 35px;
    border-bottom: 1px solid var(--app-gray-2);
    gap: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--app-gray-2);
    }

    .name-title {
        h3 {
            font-size: 14px;
            font-weight: 500;
            line-height: 10px;
        }

        h4 {
            font-size: 14px;
            font-weight: 400;
            line-height: 10px;
        }
    }

    .plus {
        width: 30px;
        height: 30px;
        background-color: var(--app-gray-1);
        border-radius: 50%;
        margin-left: auto;
        border: 1px solid var(--app-blue-1);
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.2s ease;

        i {
            color: var(--app-blue-1);
        }
    }

    .plus:hover {
        transform: scale(1.05);
    }
}

/*--------------------------------------*/
/*                Footer                */
/*--------------------------------------*/

footer {
    background-color: var(--app-blue-1);
    height: 50px;
    font-size: 16px;
    color: var(--app-gray-1);

    ul {
        display: flex;

        li {
            line-height: 50px;
            padding: 0 10px;
        }
    }

    p {
      line-height: 50px;  
    }

    .fa-brands, .fa-envelope {
        color: var(--app-gray-1);
        font-size: 20px;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }
    
    .fa-brands:hover, .fa-envelope:hover {
        transform: scale(1.15);
    }
}

/*--------------------------------------*/
/*          Common Media Query          */
/*--------------------------------------*/

@media screen and (min-width: 922px) {
    div .dropdown {
        display: none;
    }

    div .menu {
        display: flex;
        gap: 20px; 
        align-items: center;
    }
}

@media screen and (max-width: 921px) {
    div .menu { 
        display: none;
    }

    div .dropdown { 
        display: inline-block;
    }

    nav {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    footer .container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .socials ul {
        display: flex;
        justify-content: center; 
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .socials ul li {
        margin: 0 10px;
    }

    .copyright {
        display: none; 
        margin-top: 15px;
    }
}
